<form action="/" method="post">
  <div class="field">
    <label for="key">
      API Key
    </label>
    <input type="text" name="key" required>
  </div>

  <div class="field">
    <label for="secret">
      API Secret
    </label>
    <input type="text" name="secret" required>
  </div>

  <div class="actions">
    <input type="submit" value="Setup">
  </div>
</form>
