<h1>Setup Your Nexmo Account</h1>
<form action="/" method="post">
  <div class="field">
    <label for="api_key">
      API Key
    </label>
    <input type="text" name="api_key" required=True>
    <label for="api_secret">
      API Secret
    </label>
    <input type="password" name="api_secret" required=True>
  </div>

  <div class="actions">
    <input type="submit" value="Setup">
  </div>
</form>
