<form action="/send" method="post">
    <div class="field">
        <label for="nc">
            National Code (86 for China)
        </label>
        <input name="nc" value="86" required size=3>
    </div>

    <div class="field">
        <label for="number">
            Phone Number
        </label>
        <textarea name="number" rows=5 required></textarea>
    </div>

    <div class="field">
        <label for="message">
            Message
        </label>
        <textarea name="message" rows=10 required></textarea>
    </div>

    <div class="actions">
        <input type="submit" value="Send">
    </div>
</form>
